<div class="section_wrapper">
	<h2 class="section_title_left"><span><%= @section_names['field_works'] %> &raquo;</span></h2>
	<div class="section_details_right">
		<%= @resume.resume_field_work.field_works %>
	</div>

	<div class="clearfloat"></div>
	
</div>