<div class="section_wrapper">
	<h2 class="section_title_left"><span><%= @section_names['field_works'] %> &raquo;</span></h2>
	<div class="section_details_right">
		<%= RDiscount.new(@field_works) unless @field_works.blank? %>
	</div>

	<div class="clearfloat"></div>
	
</div>