<div class="section_wrapper">
	<h2 class="section_title_left"><span><%= @section_names['skills'] %> &raquo;</span></h2>
	<div class="section_details_right">
	  <%= !@resume.resume_skill.skills.nil? ? RDiscount.new(@resume.resume_skill.skills).to_html.html_safe : '' %>
	</div>
</div>