<div id="field_works" class="section_wrapper">
	
	<div class="header_tag orange_tab_left">
		<div class="orange_tab_middle">
			<%= @section_names['field_works'] %>
		</div>
		<div class="orange_tab_right"></div>
		<div class="clearfloat"></div>
	</div>
	
	<div class="section_details_right">
	    <%= RDiscount.new(@field_works).to_html.html_safe unless @field_works.blank? %>
	</div>
</div>