<% 
@title_for_layout = "Reset Password"
@body_id = "password_reset"
%>

<h2><%= @title_for_layout %></h2>

<%= render :partial => "shared/flash_notice" %>

<% form_tag password_resets_path do %>
  <label>Email</label>
  <%= text_field_tag "email" %>
  <%= submit_tag "Reset my password" %>
<% end %>