 <div class="blog_post_date">
    <div class="blog_post_month"><%= post_date.strftime("%b") %></div>
    <div class="blog_post_day"><%= post_date.strftime("%d") %></div>
    <div class="blog_post_year"><%= post_date.strftime("%Y") %></div>
</div>