<div class="section_wrapper">
  <h2 class="header_tag"><%= @section_names["field_works"] %></h2>
  <div id="field_works">
    <%= RDiscount.new(@resume.resume_field_work.field_works).to_html.html_safe unless @resume.resume_field_work.field_works.blank? %>
  </div>
</div>