<%= render :partial => "shared/resume/show/head" %>
<body>
	
	<%= render :partial => "shared/resume/show/top_bar" %>

	<div class="clearfloat"></div>
		
	<%= render :partial => "shared/resume_section_renderer" %>
	
</body>
</html>