<%= render :partial => "shared/resume/show/head" %>

<body>
	<div id="resume_sheet">
		
	  <% for s in @section_order %>
			<%= render :partial => "shared/resume/show/orange/#{s}" %>
	  <% end %>
	  
	</div>
</body>
</html>