<%= render :partial => "shared/resume/show/head" %>
<body>
  <%= render :partial => "shared/resume/show/top_bar" %>
  <div id="container">
	  <div id="resume_sheet">
		  <% for s in @section_order %>
			  <%= render :partial => "shared/resume/show/thin_beige/#{s}" %>
	      <% end %>
		</div>
	</div>
</body>
</html>