#footer
  #footer_inner
    #footer_nav_wrapper
      .footer_left
        %p#copyright_statement 2011 &copy; Killer Resume Builder
      .footer_right
        %ul#footer_nav
          %li 
            %a#back_to_top{:style => 'border:0'} Back to top
          %li 
            %a{:href => 'http://krbdr.tumblr.com'} Blog
          %li
            = link_to 'Home', root_url
      .clearfloat
    