<div id="footer">
	<div id="footer_inner">
		<div class="footer_left">
			<h3><a href="/">Killer Resume Builder</a></h3>
		</div>
		<div class="footer_right">
			<a href="#" class="footer_social" id="footer_facebook">
				<%= image_tag "export/facebook_32.png", :alt => 'Facebook' %><span>Follow us on Facebook</span>
			</a>
			<a href="#" class="footer_social" id="footer_twitter">
				<%= image_tag "export/twitter_32.png", :alt => 'Twitter' %><span>Follow us on Twitter</span>
			</a>
		</div>
		<div class="clearfloat"></div>
		<div id="footer_nav_wrapper">
			<div class="footer_left">
				<ul id="footer_nav">
					<li><a href="/">Home</a></li>
					<li><a href="/pages/help">Help</a></li>
					<li><a href="/pages/tour">Feedback</a></li>
					<li><a href="/blog">Blog</a></li>
										<li><a href="#" style="border: 0pt none;">Back to top</a></li>
				</ul>
			</div>
			<div class="footer_right">
				<p id="copyright_statement">&copy; Killer Resume Builder, 2011. All rights reserved.</p>
			</div>
			<div class="clearfloat"></div>
		</div>
	</div>
</div>