<div id="formatting_tips" class="overlay_modal" style="display:none">
  
  <h2>Formatting Tips</h2>
   
  <%= image_tag "resume/closeLoginForm.png", :class => "close_overlay" %>
   
  <div class="blue_region">
   
    <div class="white_region">
      <p>To use bullets, start a new line with a * followed by a space</p>
      <p class="example">Example:</p>
      <p>* Designed and developed a CD labels generator</p>
      <p class="example">will be generated as</p>
      <ul style="list-style:disc; padding-left:13px">
        <li>Designed and developed a CD labels generator</li>
      </ul>
    </div>
     
    <div class="white_region">
      <p>To bold text, surround it with * and *</p>
      <p class="example">Example:</p>
      <p>*Javascript developer* </p>
      <p class="example">will be generated as</p>
      <p><b>Javascript developer</b></p>
    </div>
   
    <div class="white_region">
     <p>To use italics, surround text with _ and _</p>
     <p class="example">Example:</p>
     <p>_March 29th, 2011_</p>
     <p class="example">will be generated as</p>
     <p><i>March 29th, 2011</i></p>
    </div>
   
    <div class="white_region">
     <p>To underline text, surround it with + and +</p>
     <p class="example">Example:</p>
     <p>+Ruby on Rails developer+</p>
     <p class="example">will be generated as</p>
     <p><u>Ruby on Rails developer</u></p>
    </div>
    
    <div class="white_region">
      <p>To add line break, hit the Enter (Return on Mac) key twice</p>
      <p class="example">Example:</p>
      <p>
        Javascript<br /><br />
        HTML<br /><br />
        CSS
      </p>
      <p class="example">will be generated as</p>
      <p>
        Javascript<br />
        HTML<br />
        CSS
      </p>
    </div>
    
  </div>
  
 </div>