<div class="section_name_editor_wrapper">
	<h2 class="section_name_editable"><%= @section_names[section] %></h2>
	<input class="section_name_editor" type="text" value="Section Name" title="Click to rename this section" style="display:none" />
	<span class="update_section_name blue_btn" style="display:none" rel="section_slug">Update</span>
	<span class="cancel_update_section_name green_btn" style="display:none">Cancel</span>
	<input type="hidden" id="Id" value="sectionSlug" />
</div>