body {background:#eee; font-family:arial; font-size:14px;}

#resume_sheet {border:0; -moz-box-shadow:0 2px 10px 1px #BFBFBF; -webkit-box-shadow:0 2px 10px 1px #BFBFBF;}

#personal_info_wrapper {padding-bottom:20px; border-bottom:1px dashed #bfbfbf; margin-bottom:20px;}
#personal_info {float:left; width:400px;}
#personal_info ul {list-style:none; margin:0;}
#personal_info ul li {margin:2px 0; font-size:14px;}
#personal_info ul strong {color:#444;}
#personal_info a {color:#999;}
#resume_name {color:#333 !important; margin-bottom:20px; font-size:36px}
#personal_info_bio {margin-top:20px;}
#user_photo {float:right; -moz-box-shadow:0 2px 4px #555555;background:#BFBFBF;border:8px solid #fff;}

.section_wrapper {padding-bottom:15px; border-bottom:1px dashed #ccc; margin-bottom:20px; overflow:hidden;}
.section_title_left {float:left; width:220px; margin-right:30px; color:#000; font-size:19px; font-weight:normal;}
.section_title_left span {color:#FC873F; font-size:30px; line-height:30px; font-weight:bold;}
.section_details_right {float:left; width:430px;}
.section_details_right h3 {color:#FC873F; font-size:16px; font-weight:normal; margin-bottom:5px;}
.section_details_right h4 {font-weight:normal; margin-bottom:20px}
.work_position_details {margin-bottom:20px;}
.work_position_details p {margin-bottom:10px;}
