<div id="resume_top_bar">
	<div id="resume_top_bar_inner">
		
			<div id="last_updated_on">
				Last updated on: <%= @resume.updated_at.strftime("%b %d, %Y %H:%M %p") %>
			</div>
		
		<div id="resume_top_bar_options">
			<span class="st_sharethis_button" displayText="ShareThis"></span>
			<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'4a0c43d2-5677-465e-9248-76e29a332fca'});</script>
		</div>
	</div>
</div>