<% if @resume.resume_setting.show_last_updated || @resume.resume_setting.allow_sharing %>
<div id="resume_top_bar">
	<div id="resume_top_bar_inner">
		
		<div id="last_updated_on">
				Last updated on: <%= @resume.updated_at.strftime("%b %d, %Y %H:%M %p") %>
		</div>
		
		<div id="resume_top_bar_options">
			
		</div>
	</div>
</div>
<% end  %>