<div class="box_top"></div>
<div class="box">
	<h2>Keywords</h2>
	<p>Enter your desire keywords. These keywords will be used as meta keywords for your resume.</p>
	<div id="keywordsMessage">
		<span id="keywordsLeft">18 keywords left.</span>
	</div>
	<div id="keywordsListWrapper">
		<div id="keywordsList">
			
		</div>
		<input type="text" id="keywordsInput" />
		<div class="clearfloat"></div>
	</div>
</div>
<div class="box_bottom"></div>