<div id="title_url">
	<div class="box_top"></div>
	<div id="resume_basic_info_section" class="box">
		<h3>Title</h3>
		<div class="form_row">
			<%= f.text_field :title, :class => :textbox %>
		</div>
	</div>
	<div class="box_bottom"></div>
</div>