<div class="box_top"></div>
<div class="box">
	
	<%= render :partial => "shared/section_name_editor", :locals => {:section => "work_experience"} %>
	
	<div class="section_options">
		<div class="options_label">Options</div>
		<div class="add"></div>
		<a class="disable_section" rel="education">Disable this section</a>
		<a class="enable_section" rel="education">Enable this section</a>
		<input type="hidden" class="section_mode" value="" />
	</div>
	
	<div id="sort_education" class="sortable">
		
	</div>
	
	<div class="clearfloat"></div>

</div>
<div class="box_bottom"></div>