<% @title_for_layout = "Edit Resume" %>

<%= link_to ("Back to dashboard", {:controller => "dashboard", :action => "index"}) %>

<br /><br />


<div class="blue_region">

<form id="ResumeEditForm" method="post" action="/resumes/edit/1" accept-charset="utf-8">
	<div style="display: none;"><input name="_method" value="POST" type="hidden">
		</div>
		
<%= form_for @resume do |f| %>		
		
<div id="resume_controls">
	<a class="trigger_overlay blue_btn" rel="order_sections" effect="bounce">Order Sections</a>
	<a href="/resumes/delete/1" class="red_btn delete">Delete resume</a>	<a href="/resumes/view/trivektor" class="blue_btn" target="_blank">View live</a>	<a href="/resumes/select_theme/1" class="green_btn">Theme</a>	<a class="trigger_overlay blue_btn" rel="resume_settings" effect="shake">Settings</a>
</div>

<div class="clearfloat"></div>

<!-- Starting to render - resume/edit/title -->
<div class="box_top"></div>
<div id="resume_basic_info_section" class="box">
	<h3>Title</h3>
	<div class="form_row">
		<%= f.text_field :title, :class => "textbox" %>
	</div>
	<h3>Url</h3>
	<div class="form_row">
		<%= f.text_field :url, :class => "textbox" %>
	</div>
</div>
<div class="box_bottom"></div>

<!-- Finished - resume/edit/title -->

<!-- Resume sections starts -->
<!-- Starting to render - resume/edit/personal_information -->
<div class="box_top"></div>
<div class="box">
	
<!-- Starting to render - section_name_editor -->
<div class="section_name_editor_wrapper">
	<h2 class="section_name_editable">Personal Information</h2>
	<input class="section_name_editor" value="Personal Information" title="Click to rename this section" style="display: none;" type="text">
	<span class="update_section_name blue_btn" style="display: none;" rel="personal_information">Update</span>
	<span class="cancel_update_section_name green_btn" style="display: none;">Cancel</span>
	<input id="Personal_informationId" value="1" type="hidden">
</div>
<!-- Finished - section_name_editor -->

<div class="clearfloat"></div>

<div class="form_row">
	<label for="ResumePersonalInformationFullName">Full Name</label>
	<div class="eg">(e.g. John Smith)</div>
	<input name="data[ResumePersonalInformation][full_name]" class="textbox" maxlength="255" value="Tri Vuong" id="ResumePersonalInformationFullName" type="text"></div>

<div class="form_row">
	<label for="ResumePersonalInformationAddress">Address</label>
	<div class="eg">(e.g. 22 Baker St)</div>
	<input name="data[ResumePersonalInformation][address]" class="textbox" maxlength="255" value="298 Jarvis St, Apt 1503" id="ResumePersonalInformationAddress" type="text"></div>

<div class="form_row">
	<label for="ResumePersonalInformationCity">City</label>
	<div class="eg">(e.g. Toronto)</div>
	<input name="data[ResumePersonalInformation][city]" class="textbox" maxlength="50" value="Toronto" id="ResumePersonalInformationCity" type="text"></div>

<div class="form_row">
	<label for="ResumePersonalInformationState">State/Province</label>
	<div class="eg">(e.g. Ontario)</div>
	<input name="data[ResumePersonalInformation][state]" class="textbox" maxlength="50" value="Ontario" id="ResumePersonalInformationState" type="text"></div>

<div class="form_row">
	<label for="ResumePersonalInformationPhoneNumber">Phone Number</label>
	<div class="eg">(e.g. xxx xxx-xxxx)</div>
	<input name="data[ResumePersonalInformation][phone_number]" class="textbox" maxlength="50" value="647-345-6564" id="ResumePersonalInformationPhoneNumber" type="text"></div>

<div class="form_row">
	<label for="ResumePersonalInformationFaxNumber">Fax Number</label>
	<div class="eg">(e.g. xxx-xxx-xxx)</div>
	<input name="data[ResumePersonalInformation][fax_number]" class="textbox" maxlength="50" value="" id="ResumePersonalInformationFaxNumber" type="text"></div>

<div class="form_row">
	<label for="ResumePersonalInformationEmail">Email</label>
	<div class="eg">(e.g. email@abc.com)</div>
	<input name="data[ResumePersonalInformation][email]" class="textbox" maxlength="50" value="trivektor@gmail.com" id="ResumePersonalInformationEmail" type="text"></div>

<div class="form_row">
	<label for="ResumePersonalInformationWebsite">Website</label>
	<div class="eg">(e.g. http://www.somewebsite.com)</div>
	<input name="data[ResumePersonalInformation][website]" class="textbox" maxlength="50" value="http://www.trivuong.com" id="ResumePersonalInformationWebsite" type="text"></div>

<div class="form_row">
	<label>Bio / Summary</label>
	<div id="markItUpResumePersonalInformationBio" class="markItUp">
		
	</div>
</div>

<div class="form_row">
	<label for="ResumePersonalInformationFacebook">Facebook</label>
	<div class="eg">(e.g. http://www.facebook.com/#!/trivuong)</div>
	<div class="input text"><input name="data[ResumePersonalInformation][facebook]" class="textbox" maxlength="255" value="" id="ResumePersonalInformationFacebook" type="text"></div></div>

<div class="form_row">
	<label for="ResumePersonalInformationTwitter">Twitter</label>
	<div class="eg">(e.g. @twitter)</div>
	<div class="input text"><input name="data[ResumePersonalInformation][twitter]" class="textbox" maxlength="255" value="" id="ResumePersonalInformationTwitter" type="text"></div></div>

<div class="form_row">
	<label for="ResumePersonalInformationFlickr">Flickr</label>
	<div class="eg">(e.g. http://www.flickr.com/)</div>
	<div class="input text"><input name="data[ResumePersonalInformation][flickr]" class="textbox" maxlength="255" value="" id="ResumePersonalInformationFlickr" type="text"></div></div>

<div class="form_row">
	<label for="ResumePersonalInformationLinkedin">Linkedin</label>
	<div class="eg">(e.g. http://www.linkedin.com/in/johnsmith)</div>
	<div class="input text"><input name="data[ResumePersonalInformation][linkedin]" class="textbox" maxlength="255" value="" id="ResumePersonalInformationLinkedin" type="text"></div></div>

<div class="clearfloat"></div>
</div>
<div class="box_bottom"></div>

<!-- Finished - resume/edit/personal_information -->
<!-- Starting to render - resume/edit/education -->
<div class="box_top"></div>
<div class="box">
	
	<!-- Starting to render - section_name_editor -->
<div class="section_name_editor_wrapper">
	<h2 class="section_name_editable">Education</h2>
	<input class="section_name_editor" value="Education" title="Click to rename this section" style="display: none;" type="text">
	<span class="update_section_name blue_btn" style="display: none;" rel="education">Update</span>
	<span class="cancel_update_section_name green_btn" style="display: none;">Cancel</span>
	<input id="EducationId" value="2" type="hidden">
</div>
<!-- Finished - section_name_editor -->
	
	<div class="section_options">
		<div class="options_label">Options</div>
		<div class="add"><a href="/education/add/1">Add a new entry to this section</a></div>
		<a class="disable_section" rel="education">Disable this section</a>
		<a class="enable_section" rel="education">Enable this section</a>
		<input class="section_mode" value="active" type="hidden">
	</div>
	
	<div id="sort_education" class="sortable ui-sortable">
				
		<div class="ui-state-default" id="edu_1">	
		
			<h3 class="institution_name">University of Toronto</h3>
			
			<p class="degree">
									Honours Bachelor of Science, Computer Science, Math, Geography 
					<br>
								
				(09/01/2004 - 12/31/2008)
			</p>
		
			<a href="/education/edit/1" class="edit_link"></a>			<a href="/education/delete/1" class="delete_link"></a>		</div>
			
		</div>
	
	<div class="clearfloat"></div>

</div>
<div class="box_bottom"></div>
<!-- Finished - resume/edit/education -->
<!-- Starting to render - resume/edit/skills -->
<div class="box_top"></div>
<div class="box">
	
<div class="section_options">
	<div class="options_label">Options</div>
	<a class="disable_section" rel="skills">Disable this section</a>
	<a class="enable_section" rel="skills">Enable this section</a>
	<input class="section_mode" value="active" type="hidden">
</div>

<!-- Starting to render - section_name_editor -->
<div class="section_name_editor_wrapper">
	<h2 class="section_name_editable">Skills</h2>
	<input class="section_name_editor" value="Skills" title="Click to rename this section" style="display: none;" type="text">
	<span class="update_section_name blue_btn" style="display: none;" rel="skills">Update</span>
	<span class="cancel_update_section_name green_btn" style="display: none;">Cancel</span>
	<input id="SkillsId" value="3" type="hidden">
</div>
<!-- Finished - section_name_editor -->

<div class="clearfloat"></div>
<div class="form_row">
	<div class="input textarea"><div><div id="markItUpResumeSkillSkills" class="markItUp"><div class="markItUpContainer"><div class="markItUpHeader"><ul><li class="markItUpButton markItUpButton1 "><a href="" accesskey="1" title="First Level Heading [Ctrl+1]">First Level Heading</a></li><li class="markItUpButton markItUpButton2 "><a href="" accesskey="2" title="Second Level Heading [Ctrl+2]">Second Level Heading</a></li><li class="markItUpButton markItUpButton3 "><a href="" accesskey="3" title="Heading 3 [Ctrl+3]">Heading 3</a></li><li class="markItUpButton markItUpButton4 "><a href="" accesskey="4" title="Heading 4 [Ctrl+4]">Heading 4</a></li><li class="markItUpButton markItUpButton5 "><a href="" accesskey="5" title="Heading 5 [Ctrl+5]">Heading 5</a></li><li class="markItUpButton markItUpButton6 "><a href="" accesskey="6" title="Heading 6 [Ctrl+6]">Heading 6</a></li><li class="markItUpSeparator">---------------</li><li class="markItUpButton markItUpButton7 "><a href="" accesskey="B" title="Bold [Ctrl+B]">Bold</a></li><li class="markItUpButton markItUpButton8 "><a href="" accesskey="I" title="Italic [Ctrl+I]">Italic</a></li><li class="markItUpSeparator">---------------</li><li class="markItUpButton markItUpButton9 "><a href="" title="Bulleted List">Bulleted List</a></li><li class="markItUpButton markItUpButton10 "><a href="" title="Numeric List">Numeric List</a></li><li class="markItUpSeparator">---------------</li><li class="markItUpButton markItUpButton11 "><a href="" accesskey="P" title="Picture [Ctrl+P]">Picture</a></li><li class="markItUpButton markItUpButton12 "><a href="" accesskey="L" title="Link [Ctrl+L]">Link</a></li><li class="markItUpSeparator">---------------</li><li class="markItUpButton markItUpButton13 "><a href="" title="Quotes">Quotes</a></li><li class="markItUpButton markItUpButton14 "><a href="" title="Code Block / Code">Code Block / Code</a></li><li class="markItUpSeparator">---------------</li><li class="markItUpButton markItUpButton15 preview"><a href="" title="Preview">Preview</a></li></ul></div><textarea name="data[ResumeSkill][skills]" class="markitup markItUpEditor" cols="30" rows="6" id="ResumeSkillSkills">* *Programming languages:* PHP, Java, C#, Prolog, ML, MIT Scheme
* *Web technologies:* xHTML, CSS, jQuery, XSLT, ASP.NET, SQL, JSP
* *Frameworks:* CakePHP, Kohana, CodeIgniter, Ruby on Rails
* *Databases:* MySQL, SQL server 2005, JDBC, SQL, PostgresSQL
* *Office:* Word, Power Point, InfoPath, Lotus Notes, Lotus Symphony
* *Graphics:* Adobe Photoshop, Adobe Illustrator
* *Development environments:* Eclipse, Textmate, Rational Application Developer, Visual Studio, Dreamweaver</textarea><div class="markItUpFooter"><div class="markItUpResizeHandle"></div></div></div></div></div></div>	<div class="clearfloat"></div>
</div>
</div>
<div class="box_bottom"></div>
<!-- Finished - resume/edit/skills -->
<!-- Starting to render - resume/edit/work_experience -->
<div class="box_top"></div>
<div class="box">
	
	<!-- Starting to render - section_name_editor -->
<div class="section_name_editor_wrapper">
	<h2 class="section_name_editable">Work Experience</h2>
	<input class="section_name_editor" value="Work Experience" title="Click to rename this section" style="display: none;" type="text">
	<span class="update_section_name blue_btn" style="display: none;" rel="work_experience">Update</span>
	<span class="cancel_update_section_name green_btn" style="display: none;">Cancel</span>
	<input id="Work_experienceId" value="4" type="hidden">
</div>
<!-- Finished - section_name_editor -->
	
	<div class="section_options">
		<div class="options_label">Options</div>
		<div class="add"><a href="/experience/add/1">Add a new entry to this section</a></div>
		<a class="disable_section" rel="work_experience">Disable this section</a>
		<a class="enable_section" rel="work_experience">Enable this section</a>
		<input class="section_mode" value="active" type="hidden">
	</div>
	
	<div id="sort_experience" class="sortable ui-sortable">
		
					<div id="exp_1" class="ui-state-default">

				<a href="/experience/edit/1" class="edit_link"></a>
				<a href="/experience/edelete/1" class="delete_link"></a>
				<h3 class="organization_name">Better The World</h3>

				<div class="position_title">PHP Developer</div>

				<span class="position_date">2009-07-27 - 12/31/2010</span>

				<div class="position_details">
					<div class="more" style="display: none;"><ul>
<li><p>Developed client side interfaces and back end for Adopt A School (adoptaschool.loveofreading.org), a fundraising initiative by the Indigo Love of Reading Foundation to help the underfunding of elementary schools across Canada and the resulting literacy crisis. Technologies involved: Kohana framework, jQuery, HTML and CSS.</p></li>
<li><p>Implemented Causefinity, a platform that allows charities and corporations to quickly create and manage campaigns, grassroot fundraisers, community, sponsors etc to fulfill their corporate social responsibility. Technologies involved: Kohana framework, jQuery.</p></li>
<li><p>Worked on WeGiveBooks (wegivebooks.org), an online reading website that donates every book read to children in need around the world. Developed user interface, back end code, and admin console (books donated reports, campaign creation and editing, community moderation, background theming etc). Integrated third party Flash reader. Technologies involved: jQuery, Kohana framework, HTML and CSS.</p></li>
<li><p>Developed fundraising widget and Firefox &amp; Internet Explorer sidebar extensions for Global Youth Coalition on HIV/AIDS and Better The World. Implemented new features as well as improving existing ones from legacy code.</p></li>
<li><p>Other day-to-day tasks include: converting wireframes/mocks/specs to HTML templates, hands-on development of user functions using jQuery, PHP, CSS, XHTML, work with customer service on bug fixes.</p></li>
</ul>
</div>
				</div>
			</div>
					<div id="exp_2" class="ui-state-default">

				<a href="/experience/edit/2" class="edit_link"></a>
				<a href="/experience/edelete/2" class="delete_link"></a>
				<h3 class="organization_name">IBM Toronto Lab</h3>

				<div class="position_title">Internet Multimedia Developer</div>

				<span class="position_date">06/30/2008 - 06/29/2009</span>

				<div class="position_details">
					<div class="more" style="display: none;"><p>Worked within Media Design Studio on the following assignments:</p>

<ul>
<li><p>Managed and enhanced <em>CD Label Generator (CDLG)</em>, <em>Splash Screen Generator (SSG)</em>, two web applications used by IBM internal customers around the world to create Corel Draw artwork files for CD, DVD labels, splash screens and about dialogs for IBM products. Resolved several coding issues using Java, JSP, and Component Object Model (COM).</p></li>
<li><p>Managed and enhanced <em>User Interface Graphics Repository (UIGR)</em>, a web application that allows internal designers to search, view, and download various reusable graphical elements (icons, wizards, accent graphics etc). Fixed defected database queries using SQL and DB2. Gathered usage statistics by implementing a logging tool in ColdFusion and XML.</p></li>
<li><p>Ensured stability and reliability of applications by modifying existing features and implementing new ones required by department and users (authentication, user tracking, barcode and logos manipulation). Performed documentation on potential problems and solutions, suggestion for improvements and future development.</p></li>
<li><p>Aided in the designing of the new IBM Canada Lab intranet site. Worked on creation of web widget, news archive, and events calendar of the new site using PHP, AJAX, DB2, and SQL.</p></li>
<li><p>Maintained department's servers (cleaning up for space, installing security patches and updates). Resolved several ongoing issues through investigation and testing.</p></li>
</ul>
</div>
				</div>
			</div>
				
	</div>

</div>
<div class="box_bottom"></div>
<!-- Finished - resume/edit/work_experience -->
<!-- Starting to render - resume/edit/references -->
<div class="box_top"></div>
<div class="box">
	
	<!-- Starting to render - section_name_editor -->
<div class="section_name_editor_wrapper">
	<h2 class="section_name_editable">References</h2>
	<input class="section_name_editor" value="References" title="Click to rename this section" style="display: none;" type="text">
	<span class="update_section_name blue_btn" style="display: none;" rel="references">Update</span>
	<span class="cancel_update_section_name green_btn" style="display: none;">Cancel</span>
	<input id="ReferencesId" value="6" type="hidden">
</div>
<!-- Finished - section_name_editor -->
	
	<div class="clearfloat"></div>
	
	<div class="section_options">
		<div class="options_label">Options</div>
		<div class="add"><a href="/reference/add/1">Add a new entry to this section</a></div>
		<a class="disable_section" rel="references">Disable this section</a>
		<a class="enable_section" rel="references">Enable this section</a>
		<input class="section_mode" value="active" type="hidden">
	</div>
	
	<div id="sort_references" class="sortable ui-sortable">
			<div id="ref_1" class="ui-state-default">
		
			<a href="/reference/edit/1" class="edit_link"></a> 
			<a href="/reference/delete/1" class="delete_link"></a>			
			<ul class="reference_details">
				<li>Jason Hamilton Mascioli, Former Lead Developer</li>
				<li>Better The World</li>
				<li><a href="mailto:jhamiltonmascioli@bettertheworld.com"><bdo dir="rtl">moc.dlrowehtretteb@iloicsamnotlimahj</bdo></a></li>
			</ul>
			
		</div>
			<div id="ref_2" class="ui-state-default">
		
			<a href="/reference/edit/2" class="edit_link"></a> 
			<a href="/reference/delete/2" class="delete_link"></a>			
			<ul class="reference_details">
				<li>Mark Bachman, CEO</li>
				<li>Better The World</li>
				<li><a href="mailto:mbachman@bettertheworld.com"><bdo dir="rtl">moc.dlrowehtretteb@namhcabm</bdo></a></li>
			</ul>
			
		</div>
		</div>

</div>
<div class="box_bottom"></div>
<!-- Finished - resume/edit/references -->
<!-- Starting to render - resume/edit/field_works -->
<div class="box_top"></div>
<div class="box">
	
	<div class="section_options">
		<div class="options_label">Options</div>
		<a class="disable_section" rel="field_works">Disable this section</a>
		<a class="enable_section" rel="field_works">Enable this section</a>
		<input class="section_mode" value="active" type="hidden">
	</div>
	
	<!-- Starting to render - section_name_editor -->
<div class="section_name_editor_wrapper">
	<h2 class="section_name_editable">Field Works</h2>
	<input class="section_name_editor" value="Field Works" title="Click to rename this section" style="display: none;" type="text">
	<span class="update_section_name blue_btn" style="display: none;" rel="field_works">Update</span>
	<span class="cancel_update_section_name green_btn" style="display: none;">Cancel</span>
	<input id="Field_worksId" value="5" type="hidden">
</div>
<!-- Finished - section_name_editor -->
	
	<div class="clearfloat"></div>

	<div class="input textarea"><div><div id="markItUpResumeFieldWorkFieldWorks" class="markItUp"><div class="markItUpContainer"><div class="markItUpHeader"><ul><li class="markItUpButton markItUpButton1 "><a href="" accesskey="1" title="First Level Heading [Ctrl+1]">First Level Heading</a></li><li class="markItUpButton markItUpButton2 "><a href="" accesskey="2" title="Second Level Heading [Ctrl+2]">Second Level Heading</a></li><li class="markItUpButton markItUpButton3 "><a href="" accesskey="3" title="Heading 3 [Ctrl+3]">Heading 3</a></li><li class="markItUpButton markItUpButton4 "><a href="" accesskey="4" title="Heading 4 [Ctrl+4]">Heading 4</a></li><li class="markItUpButton markItUpButton5 "><a href="" accesskey="5" title="Heading 5 [Ctrl+5]">Heading 5</a></li><li class="markItUpButton markItUpButton6 "><a href="" accesskey="6" title="Heading 6 [Ctrl+6]">Heading 6</a></li><li class="markItUpSeparator">---------------</li><li class="markItUpButton markItUpButton7 "><a href="" accesskey="B" title="Bold [Ctrl+B]">Bold</a></li><li class="markItUpButton markItUpButton8 "><a href="" accesskey="I" title="Italic [Ctrl+I]">Italic</a></li><li class="markItUpSeparator">---------------</li><li class="markItUpButton markItUpButton9 "><a href="" title="Bulleted List">Bulleted List</a></li><li class="markItUpButton markItUpButton10 "><a href="" title="Numeric List">Numeric List</a></li><li class="markItUpSeparator">---------------</li><li class="markItUpButton markItUpButton11 "><a href="" accesskey="P" title="Picture [Ctrl+P]">Picture</a></li><li class="markItUpButton markItUpButton12 "><a href="" accesskey="L" title="Link [Ctrl+L]">Link</a></li><li class="markItUpSeparator">---------------</li><li class="markItUpButton markItUpButton13 "><a href="" title="Quotes">Quotes</a></li><li class="markItUpButton markItUpButton14 "><a href="" title="Code Block / Code">Code Block / Code</a></li><li class="markItUpSeparator">---------------</li><li class="markItUpButton markItUpButton15 preview"><a href="" title="Preview">Preview</a></li></ul></div><textarea name="data[ResumeFieldWork][field_works]" class="markitup markItUpEditor" cols="30" rows="6" id="ResumeFieldWorkFieldWorks"></textarea><div class="markItUpFooter"><div class="markItUpResizeHandle"></div></div></div></div></div></div>	<div class="clearfloat"></div>

</div>
<div class="box_bottom"></div>
<!-- Finished - resume/edit/field_works -->
<!-- Resume section ends -->

<!-- Keywords starts -->
<!-- Starting to render - resume/edit/keywords -->
<div class="box_top"></div>
<div class="box">
	<h2>Keywords</h2>
	<p>Enter your desire keywords. These keywords will be used as meta keywords for your resume.</p>
	<div id="keywordsMessage">
		<span id="keywordsLeft">
				18 keywords left.
				</span>
	</div>
	<div id="keywordsListWrapper">
			<div id="keywordsList">
									<div class="keyword_wrapper">
						<div class="keyword">well-rounded developer</div>
						<div class="keyword_remove" rel="1">x</div>
					</div>
									<div class="keyword_wrapper">
						<div class="keyword">ruby on rails</div>
						<div class="keyword_remove" rel="2">x</div>
					</div>
							</div>
			<input id="keywordsInput" type="text">
			<div class="clearfloat"></div>
	</div>
	
</div>
<div class="box_bottom"></div>
<!-- Finished - resume/edit/keywords -->
<!-- Keywords ends -->


<input name="data[Resume][id]" value="1" id="ResumeId" type="hidden"><input name="data[ResumeFieldWork][id]" value="1" id="ResumeFieldWorkId" type="hidden"><input name="data[ResumeKeyword][id]" id="ResumeKeywordId" type="hidden"><input name="data[ResumePersonalInformation][id]" value="1" id="ResumePersonalInformationId" type="hidden"><input name="data[ResumeEducation][id]" id="ResumeEducationId" type="hidden"><input name="data[ResumeSkill][id]" value="1" id="ResumeSkillId" type="hidden"><input name="data[ResumeTheme][id]" value="1" id="ResumeThemeId" type="hidden">
<input src="/img/resume/updateResume.png" alt="Update Resume" type="image">

<% end %>
</div>

<!-- Resume setting starts -->
<div id="resume_settings" style="display: none;">
	<h2>Resume Settings</h2>
	<img src="/img/main/closeLoginForm.png" class="close_overlay" alt="">	<ul>
		<li>
			<input name="data[ResumeSetting][status]" id="ResumeSettingStatusActive" value="active" checked="checked" type="radio"><label for="ResumeSettingStatusActive">active</label><input name="data[ResumeSetting][status]" id="ResumeSettingStatusDisabled" value="disabled" type="radio"><label for="ResumeSettingStatusDisabled">disabled</label> 
		</li>
		<li>
			<input name="data[ResumeSetting][hide_personal_info]" id="ResumeSettingHidePersonalInfo_" value="0" type="hidden"><input name="data[ResumeSetting][hide_personal_info]" value="1" id="ResumeSettingHidePersonalInfo" type="checkbox"> <span>hide personal info</span>
		</li>
		<li>
			<input name="data[ResumeSetting][alert_copy]" id="ResumeSettingAlertCopy_" value="0" type="hidden"><input name="data[ResumeSetting][alert_copy]" value="1" id="ResumeSettingAlertCopy" type="checkbox"> <span>notify me when someone copies my resume</span>
		</li>
		<li>
			<input name="data[ResumeSetting][email_notification]" id="ResumeSettingEmailNotification_" value="0" type="hidden"><input name="data[ResumeSetting][email_notification]" value="1" id="ResumeSettingEmailNotification" type="checkbox"> <span>email me when someone visits my resume</span>
		</li>
		<li>
			<input name="data[ResumeSetting][show_last_updated]" id="ResumeSettingShowLastUpdated_" value="0" type="hidden"><input name="data[ResumeSetting][show_last_updated]" value="1" id="ResumeSettingShowLastUpdated" type="checkbox"> <span>show last updated date</span>
		</li>
	</ul>
	<span id="resume_updated" style="display: none;">Your resume settings has been updated :-)</span>
	<img src="/img/resume/updateSettingsBtn.png" id="update_resume_settings" alt=""></div>
<!-- Resume ends -->

<!-- Order sections starts -->
<div id="order_sections" style="display: none;">
	<h2>Order Sections</h2>
	<img src="/img/resume/closeOverlay.png" class="close_overlay" alt="">	<div style="" id="sort_resume_sections" class="sortable ui-sortable">
					<div style="" id="section_1" class="sections">Personal Information</div>
					<div style="" id="section_2" class="sections">Education</div>
					<div style="" id="section_3" class="sections">Skills</div>
					<div style="" id="section_4" class="sections">Work Experience</div>
					<div style="" id="section_5" class="sections">References</div>
					<div style="" id="section_6" class="sections">Field Works</div>
			</div>
	<div class="updated" style="display: none;">Your resume sections have been re-ordered. Please refresh your browser.</div>
</div>
<!-- Order sections ends -->

<div id="updated_status" style="display: none;">Your resume has been updated :)</div>
