<!DOCTYPE html>
<html>
<head>
  <title>Killer Resume Builder - Signup</title>
  <%= stylesheet_link_tag "master.css" %>
  <%= csrf_meta_tag %>
</head>
<body id="<%= @body_id %>">

<div id="container">
<%= yield %>
</div>

</body>
</html>
