<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Rails Resume Builder - Theme Selector</title>
	
	<%= stylesheet_link_tag [
	  "master.css",
	  "theme_selector.css"
	] %>
	
  <%= javascript_include_tag [
	"jquery-1.4.2.min",
	"jquery.autoheight"
	] %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="theme_selector_wrapper">
	<%= yield %>
</div>
</body>
</html>